resources/jan_hackathon_scenario_1/tables/
resources/jan_hackathon_scenario_1/.ipynb_checkpoints/
src/gpt.py
src/__pycache__/
resources/xdd_example_pdfs/
resources/xdd_extracts/
examples/
.DS_Store
env/
src/gpt_key.py
src/pyacset_gen/__pycache__/
/demos/2023-03-19/gpt_key.py
/demos/2023-02-01/gpt_key.py
/resources/xDD/arizona-extraction/
.ipynb_checkpoints
__pycache__
*.egg-info
gpt_key.py
*.pyc